.AboutContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 10px;
}

.AboutContainer p {
    text-align: justify;
    padding: 10px;
}

.AboutContainer h2 {
    padding: 10px;
}

.AboutContainerImgs {
    display: flex;
    justify-content: space-around;
}